@import "../../Shapes/_text.scss";
@import "../../Shapes/_block.scss";

.font{
    width: 20vmin; height: 20vmin;
   
    .ortho__block{      
        &:nth-child(1){
            @include block(20, 20, 2);
         }

        &:nth-child(2){
            @include block(7, 1.4, 1.4, red);
            top:18%; left:50%;
            transform: translateX(-50%) translateZ(15px);
        }
    }

    .ortho__text{
        width: 9vmin; height: 15vmin;
        transform: translateX(-50%) translateZ(15px);
        @include text(red);        
        top:20%; left:50%;
    }
}