@import "../../_orthoPosition.scss";
@import "../../_holeSize.scss";
@import "../../_blockSize.scss";
@import "../../_size.scss";
@import "../../_cylinderSize.scss";

.demo{
    @include size(20%, 40%);    
    @include orthoPosition(0, 0, 0, 0, 0, 0, -48); //x/y/t/l/z/rx/ry/rz/ or no args
        
    .ortho__cylinder{
        @include cylinderSize(); //w/d/click depth
        @include orthoPosition(250, -50, 50, 50); //x/y//t/lz/rx/ry/rz  
        .ortho__shadow{&:after{background-color:#ff3535;}} //until var setup, of front
        .ortho__shadow, &:after{background-color:darken(#ff3535, 15);} //until var setup, of this   
        .ortho__cover, .ortho__sides{background-color:white;} //until var setup, of cover     
    }   
    
    .ortho__hole{
        @include holeSize(10, 10, 3, 2, green, 0); //w/h/d/thickness/color/radius%
        @include orthoPosition(50, 0, 90, 0); //x/y/t/l/z/rx/ry/rz/ //rotate for diamond or flat rotate only X90

        &.--rounded{ 
            @include holeSize(10, 10, 2, 2, red, 50); //w/h/d/thickness/color/radius%
            @include orthoPosition(50, 150, 90, 0); //x/y/t/l/z/rx/ry/rz/ //rotate for diamond or flat rotate only X90
        }
    }  

    .ortho__block{
        @include blockSize(40, 20, 6); //w/h/d
        @include orthoPosition(320, 100, 50, 50); //x/y/t/l/z/rx/ry/rz/  

        &.--cross, &.--cross .ortho__block{ //itself and inner ortho__block
            background-color:green; &:before, &:after, .ortho__sides:before, .ortho__sides:after{background-color:red;}              
        }  
        &.--tick, &.--tick .ortho__block{ //itself and inner ortho__block
            background-color:blue; &:before, &:after, .ortho__sides:before, .ortho__sides:after{background-color:green;}              
        }  
        &.--cross{  
            @include blockSize(4, 1, 1); //w/h/d
            @include orthoPosition(2150, 50, 50, 50); //x/y/t/l/z/rx/ry/rz/ //rotate for X      
        }    
        &.--tick{
            @include blockSize(4, 1, 1); //w/h/d
            @include orthoPosition(-50, -50, 50, 50, 0, 0, 0, -45); //x/y/t/l/z/rx/ry/rz/ 
        }                 
        // &:after{ //nice shadows
        //  box-shadow: 50px -50px 110px 0px rgba(0, 0, 0, 0.32);
        //  box-shadow: 50px 0px 110px 30px rgba(0, 0, 0, 0.22);
        //  box-shadow: 120px -120px 190px 20px rgba(0, 0, 0, 0.30);   
        //  box-shadow: 3px 7px 36px 5px rgba(0, 0, 0, 0.12);           
        // }  
    }

    .ortho__image{
        @include size(14vmin, 7.3vmin); //w/h  
        @include orthoPosition(250, 650, 50, 50); //x/y/t/l/z/rx/ry/rz/
        svg{fill: red;
            &:first-child{fill: green;} 
        }
    }

    .ortho__heart{
        @include size(14vmin, 13.3vmin); //w/h  
        @include orthoPosition(-50, -50, 50, 50); //x/y/t/l/z/rx/ry/rz/
        svg{fill: red;
            &:first-child{fill: green;} 
        }

        &.--active{
            svg{
                &:first-child{fill:blue;}
            }
        }
    }

    .ortho__messageIcon{
        @include size(8vw, 6.2vw);
        @include orthoPosition(800, -50, 50, 50); //x/y/t/l/z/rx/ry/rz/
        svg{fill: red;
            &:first-child{fill: green;} 
        }
    
        .cylinder__dots{
            .ortho__cylinder{
                @include cylinderSize(2, 0.6); //w/d/click depth
                @include orthoPosition(); //x/y/t/l/z/rx/ry/rz/
                .ortho__shadow{&:after{background-color:#ff3535;}} //until var setup, of front
                .ortho__shadow, &:after{background-color:darken(#ff3535, 15);} //until var setup, of this   
                .ortho__cover, .ortho__sides{background-color:#f1f1f1;} //until var setup, of cover     
                margin: 0 7px;
            }       
        }
    }

    .ortho__text{  
        &:before, &:after, .ortho__shadow:before, .ortho__shadow:after{
            content:"DAY 1";
        }

        @include size(3vw, 1vw);
        //display: block; //set as block, as there's no html content
        @include orthoPosition(250, 950, 50, 50); //x/y/t/l/z/rx/ry/rz/ 
        font-size: 12rem;     
        line-height: 1;  
    }

    .ortho__cloudGroup{     
        //cloud group should not have a parent
        @include orthoPosition(0, 0, 150, 250); //x/y/t/l/z/rx/ry/rz/
        // &.floating__cloud{animation-name: floatAlong; animation-duration: 350s; animation-timing-function: linear; animation-iteration-count: infinite;
        //     &.--fast{animation-duration: 100s;}
        // }   
        // @keyframes floatAlong {
        //     from {transform: rotateY(-48deg) translateY(15vh) translateX(104vw); }
        //     to {transform: rotateY(-48deg) translateY(15vh) translateX(-12vw); } 
        // } 
    }    

    .ortho__sphere{    
        @include size(120px, 120px); //w/h  
        @include orthoPosition(-50, -50, 50, 50, 0, 0, 48); //x/y/t/l/z/rx/ry/rz/ overwrite -rotateY   
        background: radial-gradient(circle at 35% 35%, #fff, #ddd); //light/shadow source direction
    }  
}