@mixin block($w:20,$h:20, $d:20, $bg:#f1f1f1, $clickdepth:2, $r:2, $c:white){
    width: $w+vmin;
    height: $h+vmin;  

    .ortho__sides{background-color: $bg; 
        &:before, &:after{background-color: darken($bg, 8); width: $d+vmin;}                         
        .ortho__topBottom{transform: translateZ(-$d+vmin); background-color: darken($bg, 8);
            &:before, &:after{height: $d+vmin;}                   
        }
    } 

    .ortho__cover{background-color: $c; width: $w+0.5vmin; height: $h+0.5vmin; transform: translateX(-0.25vmin) translateY(-0.25vmin) translateZ(-$d+vmin); 
        &:before{height:$d+vmin;}
        &:after{height:$d+vmin;}  
        .ortho__coverSides{
            &:before, &:after{width: $d+vmin;}
        }
    }   

    &.--cross, &.--tick, .ortho__block{       
        &:before, &:after{height: $d+vmin; background-color: darken($bg, 8);}
            
        .ortho__sides{
            &:before, &:after{background-color: darken($bg, 8); width: $d+vmin; } 
        }  
    }

    &.--rounded{
        &, .ortho__sides, .ortho__topBottom{border-radius: $r+vmin; &:before, &:after{border-radius: $r+vmin;}}       

        .ortho__topBottom{ transform:translateZ(-$d/4+vmin); background-color:darken($bg, 8);}  

        .ortho__sides, .ortho__topBottom{ 
            &:before{transform:translateZ(-$d/12+vmin);} 
            &:after{transform:translateZ(-$d/6+vmin);}

            .ortho__sides{ transform:translateZ(-$d/2+vmin); background-color:darken($bg, 8);
                .ortho__sides{ transform:translateZ(-$d/4+vmin);}
            }
        }        
    }
    
    &.--clickable{
        &:active{
            .ortho__sides{transform: translateZ(-$d/$clickdepth+vmin)}
        }
    }
}