.ortho__block{         
   &:after{top:0}
    .ortho__sides, .ortho__coverSides, .ortho__topBottom{width: 100%; height: 100%;}
    .ortho__sides{background-color: inherit;      
        &:before{transform-origin: right; right:0; height: 100%;} 
        &:after{transform-origin: left; height: 100%; top:0;}               
        .ortho__topBottom{background-color: inherit;
            &:before, &:after{background-color: inherit;}
            &:before{transform: rotateX(-90deg);  width: 100%;}   
            &:after{transform:rotateX(90deg); bottom: 0; width: 100%;}                  
        }
    } 

    .ortho__cover{pointer-events: none; 
        &:before, &:after{background-color: inherit;}
        &:before{transform:rotateX(-90deg); width: 100%;}
        &:after{transform-origin: bottom; transform:rotateX(90deg); width: 100%; bottom:0;}  
        .ortho__coverSides{background-color:inherit; 
            &:before, &:after{background-color: inherit; height:101%;}
            &:before{transform-origin: left; transform:translateX(1px) translateY(-1px) rotateY(90deg);  }
            &:after{transform-origin: right; transform:translateX(-1px) translateY(-1px) rotateY(-90deg); right:0;}
        }
    }  

    .ortho__topBottom, .ortho__cover{&:before{transform-origin: top;}}
    .ortho__topBottom{&:after{transform-origin: bottom;}}
    .ortho__sides, .ortho__cover{transform-style: preserve-3d;}
    .ortho__topBottom, .ortho__coverSides{position: absolute;}
    &, .ortho__sides, .ortho__cover, .ortho__coverSides, .ortho__topBottom{&:before, &:after{content:""; position: absolute;}}
}