.ortho__cloudGroup{
    .ortho__cloud, .ortho__cloudSides{position: relative; &:before, &:after{content: ""; border-radius: 100%; background-color:inherit; position: absolute; }}
    
    .ortho__cloud{position: absolute; left: 0; top:0; width: 10.4vw; display: inline-flex; justify-content: center;
        &:after{top: -4.7vw;left: 0; width: 9.38vw; height: 9.38vw; border-radius: 100%;}
        .ortho__cloudSides{width: 4.7vw; height: 4.7vw; background-color: inherit;
            &:before{left: -6.22vw; top: -1.9vw; height: 6.57vw; width: 6.57vw;}
            &:after{right: -6.67vw; top: -3.3vw; height: 8vw; width: 8vw; }
        }     
    }  
} 

