@import "../_orthoPosition.scss";

.ortho__cloudGroup{
    //@include orthoPosition(50, 50, 0, 0, -48, 0, 50,20); //x/y/z/rx/ry/rz/t/l  
    .ortho__cloud, .ortho__cloudSides{position: relative; &:before, &:after{content: ""; border-radius: 100%; background-color:inherit; position: absolute; }}
    
    .ortho__cloud{position: absolute; left: 0; top:0; background-color: #ddd; width: 10.4vw; display: inline-flex; justify-content: center;
        &:after{top: -4.7vw;left: 0; width: 9.38vw; height: 9.38vw; border-radius: 100%;}
        .ortho__cloudSides{width: 4.7vw; height: 4.7vw; background-color: inherit;
            &:before{left: -6.22vw; top: -1.9vw; height: 6.57vw; width: 6.57vw;}
            &:after{right: -6.67vw; top: -3.3vw; height: 8vw; width: 8vw; }
        }   
        &:nth-child(1){background-color: #f1f1f1;}  
        &:nth-child(2){transform: translateZ(-0.2vw);}  
        &:nth-child(3){transform: translateZ(-0.4vw);}  
        &:nth-child(4){transform: translateZ(-0.6vw);}  
        &:nth-child(5){transform: translateZ(-0.8vw);}  
        &:nth-child(6){transform: translateZ(-1vw);}  
        &:nth-child(7){transform: translateZ(-1.2vw);}     
        &:nth-child(8){transform: translateZ(-1.4vw);}    
        &:nth-child(9){transform: translateZ(-1.6vw);}   
    }    
    
    // &.floating__cloud{animation-name: floatAlong; animation-duration: 350s; animation-timing-function: linear; animation-iteration-count: infinite;
    //     &.--fast{animation-duration: 100s;}
    // }    
} 

@keyframes floatAlong {
    from {transform: rotateY(-48deg) translateY(15vh) translateX(104vw); }
    to {transform: rotateY(-48deg) translateY(15vh) translateX(-12vw); } 
}
