.ortho__cylinder{       
    border-radius: 50%;
    background-color: #f1f1f1; 

    &:after, &:before, .ortho__shadow, .ortho__shadow:after, .ortho__shadow:before{
        content:"";
        height: 100%;
        width: 100%;
        position: absolute;
        border-radius: inherit;
        background-color: #ddd; 
    }    
    
    .ortho__shadow{ //middle sections if needed
        border-radius: inherit;  
        transform-style: preserve-3d;                              
    }
}   