.ortho__inner, .ortho__hole{&:before{top: 0;}&:after{top: 100%;}}

.ortho__hole, .ortho__inner, .ortho__sides, .ortho__innerSides{&:before, &:after{background-color:#ddd;}}
.ortho__inner:after, .ortho__inner:before{width: 100%;}
.ortho__hole, .ortho__inner{&:before,&:after{ content:""; position: absolute; transform-origin: top;}}

.ortho__hole{   
    .ortho__sides{ top: -100%; 
        &:before{transform: rotateY(90deg); } //left
        &:after{transform: rotateY(-90deg);} //right
    }

    .ortho__inner{height: 100.1%; width: 100.1%; 
        .ortho__innerSides{height: 100.1%; width: 100.1%;        
            &:before, &:after{height:100%}
            &:before{transform: rotateY(-90deg);} //left           
            &:after{transform: rotateY(90deg);} //right    
        }
    }
    
    .ortho__sides, .ortho__inner{transform-style: preserve-3d;}
    .ortho__innerSides, .ortho__sides, .ortho__inner{position: relative;}
    .ortho__innerSides, .ortho__sides{
        &:before, &:after{content:""; position: absolute; height: 100%;}
        &:before{transform-origin: right;}
        &:after{left: 100%; transform-origin: left;}
    }    
}   