.ortho__hole{

    &:before, &:after, .ortho__shadow, .ortho__shadow:after, .ortho__shadow:before{content:""; height: 100%; width: 100%; position: absolute; border-radius: inherit; border: inherit; border-color: #ddd;}

    &:before{transform: translateZ(-0.1vw);} //first                     
    &:after{transform: translateZ(-1.6vw);} //bottom depth

    .ortho__shadow{ //middle sections if needed

        //all shadows(from its Z'd pos)
        &:before{transform: translateZ(-0.1vw);}                    
        &:after{transform: translateZ(-0.2vw);} 

        // //push down each shadow element
        &:first-child{transform: translateZ(-0.2vw); }  
        &:nth-child(2){transform: translateZ(-0.4vw);} 
        &:nth-child(3){transform: translateZ(-0.6vw)} 
        &:nth-child(4){transform: translateZ(-0.8vw);} 
        &:nth-child(5){transform: translateZ(-1vw);} 
        &:nth-child(6){transform: translateZ(-1.2vw);} 
        &:nth-child(7){transform: translateZ(-1.4vw);} 
    }            
}   