@import "../mixins.scss";

.ortho__block{        
    &.plus, &.plus .ortho__block{ //itself and inner ortho__block
        //@include blockSize(2, 1, 1); //w/h/d
        //@include orthoPosition(0, 0, 0); //x/y/z          
    }  
    &.plus{
        .ortho__block{transform:rotateZ(90deg);}           
    }
} 

.ortho__cylinder, .ortho__block{
    .ortho__block{        
        &.plus, &.plus .ortho__block{
            @include blockSize(3, 1.5, 1);
            transform: translateZ(11px) translateX(-50%) translateY(-50%);
            background-color:green;        
            &:before, &:after, .ortho__sides:before, .ortho__sides:after{background-color:red;}          
        }  
        &.plus{top: 50%; left: 50%;
            .ortho__block{transform:rotateZ(90deg);}           
        }
    }     
}