@import "../_blockSize.scss";
@import "../_orthoPosition.scss";

.ortho__block{        
    &.--plus, &.--plus .ortho__block, &.--tick, &.--tick .ortho__block{ //itself and inner ortho__block
        @include blockSize(2, 1, 1); //w/h/d    
        background-color:green;        
        &:before, &:after, .ortho__sides:before, .ortho__sides:after{background-color:red;}              
    }  
    &.--plus{       
        @include orthoPosition(0, 0); //x/y/z/rz
        .ortho__block{transform:rotateZ(90deg);} //rotate inner block and remove rotationY
        &.--cross{@include orthoPosition(0, 0, 0, 45);} //overwrite position, but, turn whole thing on Z            
    }    
    &.--tick{transform: translateX(-50vw) translateY(-20vw) rotateY(-48deg) rotateZ(-45deg);
        .ortho__block{width: 25%; top: -96%; left: 0;}
    } 
} 

.--parent{
    .ortho__block{        
        &.--plus, &.--plus .ortho__block, &.--tick, &.--tick .ortho__block{
            @include blockSize(3.5, 1.5, 1);
            transform: translateZ(15px) translateX(-50%) translateY(-50%);  
        }  
        &.--plus{top: 50%; left: 50%;
            .ortho__block{transform:rotateZ(90deg);} //rotate inner block   
            &.--cross{transform: translateZ(15px) translateX(-50%) translateY(-50%) rotateZ(45deg)}    
        }
        &.--tick{top: 50%; left: 50%; 
            transform: translateZ(15px) translateX(-45%) translateY(-50%) rotateZ(-45deg);   
            .ortho__block{width: 25%; top: -96%; left: 0; transform: translateX(0) translateY(0);}
        } 
    }     
}







