.ortho__sphere{    
    border-radius: 50%;       
 
    &:after{
        content:"";
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: -6.4vh;
        background:radial-gradient(circle at 50% 50%, rgba(0, 0, 0, .3%), rgba(0, 0, 0, .08%) 30%, rgba(255, 255, 255, 0%) 60%);
        transform: rotateX(-90deg);
    }
}  