@mixin blockSize($w:20,$h:20,$d:30){
    width:$w+vmin;height:$h+vmin;
    &:before{height:$d+vmin;top:-$d+vmin;}
    &:after{height:$d+vmin;}
    
    .ortho__sides{transform: translateZ(-$d+vmin);
        &:before{width: $d+vmin;left:-$d+vmin;}
        &:after{width:$d+vmin;right:-$d+vmin;}
    }

    .ortho__block{width:$w+vmin;height:$h+vmin;
        &:before{height:$d+vmin;top:-$d+vmin;}
        &:after{height:$d+vmin;}
    }
}