@mixin colorBlock($bg){
    background-color: $bg;
    .ortho__sides{background-color: darken($bg, 8);
        &:after, &:before{background-color: darken($bg, 8);}  
    }  
    &.--rounded{
        //add to 100% to get even gradient either side (5, 95), but no shadow would be on left for us
        background: linear-gradient(90deg,$bg 0%,$bg 90%,darken($bg, 8) 100%);  
        //left side should have full light source                              
        .ortho__sides:before{background-color:darken($bg, 8);}  
    } 
}
