@mixin color($bg:#f1f1f1, $c:#ddd){
    background-color: $bg;
    .ortho__shadow{&:after{background-color:$bg;}} 
    .ortho__shadow, &:before, &:after{background-color:darken($bg, 8);}     
    span{color:darken($bg, 8); &:first-child{color:$bg;}}  

    .ortho__cloud{background-color: darken($bg, 8);
        &:first-child{background-color: $bg;}
    }  

    .ortho__sides{background-color: darken($bg, 8);
        //&:after, &:before{background-color: darken($bg, 8);}  
    }    

    .ortho__cover{
        &, .ortho__sides{background-color:$c;} 
    } 

    //block
    &.--cross, &.--cross .ortho__block{ //itself and inner ortho__block
        background-color:$bg; &:before, &:after, .ortho__sides:before, .ortho__sides:after{background-color:darken($bg, 8);}              
    }  
    &.--tick, &.--tick .ortho__block{ //itself and inner ortho__block
        background-color:$bg; &:before, &:after, .ortho__sides:before, .ortho__sides:after{background-color:darken($bg, 8);}              
    }  
    &.--cross{  
        @include blockSize(4, 1, 1); //w/h/d
        @include orthoPosition(2150, 50, 50, 50); //x/y/t/l/z/rx/ry/rz/ //rotate for X      
    }    
    &.--tick{
        @include blockSize(4, 1, 1); //w/h/d
        @include orthoPosition(2350, 50, 50, 50, 0, 0, 0, -45); //x/y/t/l/z/rx/ry/rz/ 
    }   
    &.--rounded{
        //add to 100% to get even gradient either side (5, 95), but no shadow would be on left for us
        background: linear-gradient(90deg,$bg 0%,$bg 90%,darken($bg, 8) 100%);  
        //left side would have full light source                              
        .ortho__sides:before{background-color:darken($bg, 8);}  
    } 
}
