@mixin cylinderSize($w:50%, $h:50%, $d:0){
    width:$w+vw; height: $h+vw;  

    &:before{transform: translateZ(-$d/10+vw);}          
    &:after{transform: translateZ(-$d/1.8+vw);} 

    .ortho__shadow{
        transform: translateZ(-$d/5+vw); 
        &:before{transform: translateZ(-$d/8+vw);}   
        &:after{transform: translateZ(-$d/4.2+vw);}                              
    }

    &.--long{
        &:before{transform: translateZ(-$d/25+vw);} //first 
        &:after{transform: translateZ(-$d/1.048+vw)} //back depth 

        .ortho__shadow{ //all shadows(from its Z'd pos)
            &:before{transform: translateZ(-$d/25+vw);}   
            &:after{transform: translateZ(-$d/12.5+vw);} 
            //each element
            &:first-child{transform: translateZ(-$d/12.5+vw);}  
            &:nth-child(2){transform: translateZ(-$d/5+vw);}
            &:nth-child(3){transform: translateZ(-$d/3.1+vw);} 
            &:nth-child(4){transform: translateZ(-$d/2.24+vw);} 
            &:nth-child(5){transform: translateZ(-$d/1.75+vw);} 
            &:nth-child(6){transform: translateZ(-$d/1.43+vw);} 
            &:nth-child(7){transform: translateZ(-$d/1.21+vw);} 
        }
    }
}