@mixin cylinderSize($w:20, $h:20, $d:5){    
    width: $w+vmin;
    height: $h+vmin;   

    &:after{transform: translateZ(-$d+vmin);}  
 
    .ortho__cover{       
        width: $w+0.2vmin;
        height: $h+0.2vmin;       
        transform: translateX(-0.1vmin) translateY(-0.1vmin) translateZ(-$d+vmin);

        &:before, &:after{height:$d/2+vmin;}
        &:before{top: -$d/2+vmin;}        

        .ortho__sides{           
            transform: translateZ(-$d/2+vmin);
            &:before, &:after{width: $d/2+vmin;}
            &:after{left: $w+0.2vmin;}
        }
    }       

    .ortho__shadow{    
        width: $w/2+vmin;     
        height: $h+vmin;       
        left: $w/2+vmin;       
        transform: translateZ(-$d+vmin) rotateY(-90deg);
        &:after{width: $w+vmin; height: $h+vmin;}
    }

    &:active{ 
        .ortho__shadow{transform: translateZ(-$d/2*3+vmin) rotateY(-90deg);}
    }
}
