@mixin cylinderSize($w:20, $d:4, $cd:1.6){   
    width: $w+vmin; 
    height:$w+vmin;     

    .ortho__shadow{         
        height: $w+vmin;
        width: $d+vmin;
        left: $w/2+vmin;      
        &:after{
            width: $w+vmin;
            height: $w+vmin;
            transform: translateX(-$w/2+0.1vmin) rotateY(-90deg);              
        }
    }

    .ortho__cover{       
        width: $w+0.4vmin; 
        height:$w+0.4vmin;         
        transform: translateX(-0.2vmin) translateY(-0.2vmin);
        &:before, &:after{height:$d/$cd+vmin;}
        &:before{top: -$d/$cd+vmin;}

        .ortho__sides{           
            transform: translateZ(-$d/$cd+vmin);
            &:before, &:after{width: $d/$cd+0.1vmin;}
            &:after{left: $w+0.4vmin;}
        }
    }  

    &.--clickable{
        &:active{ 
            .ortho__shadow{transform: translateZ(-$d/$cd+vmin) rotateY(-90deg);}
        }
    }    
}
