.hero{height: 100vh;
      
    //background-image: linear-gradient(to top, #fa709a 0%, #fee140 100%);
    .hero__text{position: absolute; top: 0; left:0;}
 
    .ortho{height:100%; position: relative; perspective: 4000px; perspective-origin: top left; //where we view from (if a box was below us, we would see the top, or see the bottom if it was above us)
          
        //keep rotated children rotated 
        ._3d{transform-style: preserve-3d; position: absolute; bottom:0; right:0;}

        svg{position: absolute; &:nth-child(2){transform: translateZ(-1px);} &:nth-child(3){transform: translateZ(-2px);} &:nth-child(4){transform: translateZ(-3px);} &:nth-child(5){transform: translateZ(-4px);} &:nth-child(6){transform: translateZ(-5px);} &:nth-child(7){transform: translateZ(-6px);} &:nth-child(8){transform: translateZ(-7px);} &:nth-child(9){transform: translateZ(-8px);} &:nth-child(10){transform: translateZ(-9px);} &:nth-child(11){transform: translateZ(-11px);} &:nth-child(12){transform: translateZ(-12px);} &:nth-child(13){transform: translateZ(-13px);} &:nth-child(14){transform: translateZ(-14px);} &:nth-child(15){transform: translateZ(-15px);} &:nth-child(16){transform: translateZ(-16px);} &:nth-child(17){transform: translateZ(-17px);} &:nth-child(18){transform: translateZ(-18px);} &:nth-child(19){transform: translateZ(-19px);} &:nth-child(20){transform: translateZ(-20px);}}

        .ortho__heart{ 
            width: 150px;
            svg{                         
                width: 12rem;
                height: 12rem;          
            }    
        }            
        
        .ortho__text{  
            width: 450px;               
            font-size:15rem;             
            display: block; //set as block, as there's no html content

            &:before, &:after, .ortho__shadow:before, .ortho__shadow:after{content:"DAY 1"; position: absolute; color:#ddd; top:0; left:0;}

            &:before{transform: translateZ(0px); color:#f1f1f1;} //first
            &:after{transform: translateZ(-19px);} //last

            .ortho__shadow{                                
                transform-style: preserve-3d;              
                
                //all shadows(from its Z'd pos)
                &:before{transform: translateZ(-1px);}
                &:after{transform: translateZ(-2px);}

                //push down back each shadow
                &:first-child{transform: translateZ(-1px);}
                &:nth-child(2){transform: translateZ(-4px);}
                &:nth-child(4){transform: translateZ(-7px);}
                &:nth-child(5){transform: translateZ(-10px);}
                &:nth-child(6){transform: translateZ(-13px);}
                &:nth-child(7){transform: translateZ(-16px);}                    
            }
        }

        .ortho__hole{
            height: 100px;
            width: 100px;           
            border: 30px solid #f1f1f1;  //thickness
            
            &:before, &:after, .ortho__shadow:after, .ortho__shadow:before{
                content:"";     
                height: 100%;
                width: 100%;              
                position: absolute;
                border-radius: inherit;
                border: inherit;
                border-color: #ddd;               
            }

            &:before{transform: translateX(-30px) translateY(-30px) translateZ(-1px);} //first                     
            &:after{transform: translateX(-30px) translateY(-30px) translateZ(-26px);} //bottom depth

            .ortho__shadow{ //middle sections if needed
                height: 100px; //match parent
                width: 100px;  //match parent       
                border-radius: inherit; 
                border: inherit;   
                position: absolute; 
                border-color: #ddd; 
                transform-style: preserve-3d;  

                //all shadows(from its Z'd pos)
                &:before{transform: translateX(-30px) translateY(-30px) translateZ(-1px);}                    
                &:after{transform:  translateX(-30px) translateY(-30px)translateZ(-2px);} 

                //push down each shadow
                &:first-child {transform: translateX(-30px) translateY(-30px) translateZ(-2px);}  
                &:nth-child(2){transform: translateX(-30px) translateY(-30px) translateZ(-5px);} 
                &:nth-child(3){transform: translateX(-30px) translateY(-30px) translateZ(-8px);} 
                &:nth-child(4){transform: translateX(-30px) translateY(-30px) translateZ(-11px);} 
                &:nth-child(5){transform: translateX(-30px) translateY(-30px) translateZ(-14px);} 
                &:nth-child(6){transform: translateX(-30px) translateY(-30px) translateZ(-17px);} 
                &:nth-child(7){transform: translateX(-30px) translateY(-30px) translateZ(-20px);} 
                &:nth-child(8){transform: translateX(-30px) translateY(-30px) translateZ(-23px);} 
            } 
                   
            &.donut{border-radius: 50%;}

            &.diamond{transform: rotateY(-18deg) rotateZ(45deg); &.rounded{border-radius: 10px;}}   
            
            &.flat{transform: rotateY(-18deg) rotateX(90deg);}
        }        

        .ortho__sphere{    
            transform: rotateY(0);            
            background: #ddd;
            border-radius: 50%;
            height: 120px;
            width: 120px;         
            background: radial-gradient(circle at 40px 40px, #fff, #ddd); //light/shadow source direction

            &:after{
                content:"";
                position: absolute;
                width: 100%;
                height: 100%;
                background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
                transform: rotateX(90deg) translateZ(-60px);
                z-index: -1;
            }
        }    
        
        .--parent{
            .--child{
                width: 100%;
                height: 100%; 
                display: flex;
                align-items: center;
                justify-content: center;
                transform: translateX(0) translateY(0) translateZ(10px);  
        
                svg{width:60%;}
            }
        }
    }  
}

