.hero{
    height: 100vh;   
    background-image: linear-gradient(to top, #fa709a 0%, #fee140 100%);

    .hero__text{
        position: absolute;       
    }
   
    .ortho{
        display: grid;
        gap:10vh 0;
        justify-content: center;
        align-items: center;
        perspective: 1400px; //where we view from (if a box was below us, we would see the top, or see the bottom if it was above us)
        
        svg{ position: absolute; fill: #ddd; &:first-child{fill: #f1f1f1;} &:nth-child(2){transform: translateZ(-1px);} &:nth-child(3){transform: translateZ(-2px);} &:nth-child(4){transform: translateZ(-3px);} &:nth-child(5){transform: translateZ(-4px);} &:nth-child(6){transform: translateZ(-5px);} &:nth-child(7){transform: translateZ(-6px);} &:nth-child(8){transform: translateZ(-7px);} &:nth-child(9){transform: translateZ(-8px);} &:nth-child(10){transform: translateZ(-9px);} &:nth-child(11){transform: translateZ(-11px);} &:nth-child(12){transform: translateZ(-12px);} &:nth-child(13){transform: translateZ(-13px);} &:nth-child(14){transform: translateZ(-14px);} &:nth-child(15){transform: translateZ(-15px);} &:nth-child(16){transform: translateZ(-16px);} &:nth-child(17){transform: translateZ(-17px);} &:nth-child(18){transform: translateZ(-18px);} &:nth-child(19){transform: translateZ(-19px);} &:nth-child(20){transform: translateZ(-20px);}}

        .row{display: flex; align-items: center;}

        //setup rotation
        .ortho__block, .ortho__sphere, .ortho__cylinder, .ortho__heart, .ortho__image, .ortho__hole, .ortho__text{
            transform: rotateY(-18deg); //rotate this box
            transform-style: preserve-3d; //keep rotated children, rotated   
            display: inline-block; 
            position: relative;
        }

        .ortho__heart{ 
            width: 150px;
            svg{                         
                width: 12rem;
                height: 12rem;          
            }    
        }    
        
        .ortho__image{
            width: 150px;
            svg{                           
                width: 17rem;
                height: 17rem;                          
            }          
        }

        .ortho__text{  
            width: 450px;               
            font-size:15rem;             
            display: block; //set as block, as there's no html content

            &:before, &:after, .ortho__shadow:before, .ortho__shadow:after{content:"DAY 1"; position: absolute; color:#ddd; top:0; left:0;}

            &:before{transform: translateZ(0px); color:#f1f1f1;} //first
            &:after{transform: translateZ(-19px);} //last

            .ortho__shadow{                                
                transform-style: preserve-3d;              
                
                //all shadows(from its Z'd pos)
                &:before{transform: translateZ(-1px);}
                &:after{transform: translateZ(-2px);}

                //push down back each shadow
                &:first-child{transform: translateZ(-1px);}
                &:nth-child(2){transform: translateZ(-4px);}
                &:nth-child(4){transform: translateZ(-7px);}
                &:nth-child(5){transform: translateZ(-10px);}
                &:nth-child(6){transform: translateZ(-13px);}
                &:nth-child(7){transform: translateZ(-16px);}                    
            }
        }

        .ortho__hole{
            height: 100px;
            width: 100px;           
            border: 30px solid #f1f1f1;  //thickness
            
            &:before, &:after, .ortho__shadow:after, .ortho__shadow:before{
                content:"";     
                height: 100%;
                width: 100%;              
                position: absolute;
                border-radius: inherit;
                border: inherit;
                border-color: #ddd;               
            }

            &:before{transform: translateX(-30px) translateY(-30px) translateZ(-1px);} //first                     
            &:after{transform: translateX(-30px) translateY(-30px) translateZ(-26px);} //bottom depth

            .ortho__shadow{ //middle sections if needed
                height: 100px; //match parent
                width: 100px;  //match parent       
                border-radius: inherit; 
                border: inherit;   
                position: absolute; 
                border-color: #ddd; 
                transform-style: preserve-3d;  

                //all shadows(from its Z'd pos)
                &:before{transform: translateX(-30px) translateY(-30px) translateZ(-1px);}                    
                &:after{transform:  translateX(-30px) translateY(-30px)translateZ(-2px);} 

                //push down each shadow
                &:first-child {transform: translateX(-30px) translateY(-30px) translateZ(-2px);}  
                &:nth-child(2){transform: translateX(-30px) translateY(-30px) translateZ(-5px);} 
                &:nth-child(3){transform: translateX(-30px) translateY(-30px) translateZ(-8px);} 
                &:nth-child(4){transform: translateX(-30px) translateY(-30px) translateZ(-11px);} 
                &:nth-child(5){transform: translateX(-30px) translateY(-30px) translateZ(-14px);} 
                &:nth-child(6){transform: translateX(-30px) translateY(-30px) translateZ(-17px);} 
                &:nth-child(7){transform: translateX(-30px) translateY(-30px) translateZ(-20px);} 
                &:nth-child(8){transform: translateX(-30px) translateY(-30px) translateZ(-23px);} 
            } 
                   
            &.donut{border-radius: 50%;}

            &.diamond{transform: rotateY(-18deg) rotateZ(45deg); &.rounded{border-radius: 10px;}}   
            
            &.flat{transform: rotateY(-18deg) rotateX(90deg);}
        }

        .ortho__block{   
            width: 200px;
            height: 200px;           
            background-color: #f1f1f1;  
                       
            .ortho__block{position: absolute; width: 100%;}
               
            &:after, &:before, .ortho__shadow, .ortho__sides:after, .ortho__sides:before{
                content: "";                   
                width: 100%;
                height: 100%;    
                background-color: #ddd;   
                position: absolute;   
            }             
            
            //rotate the sides independantly   
            &:before{ //top
                transform-origin: bottom;
                transform: rotateX(90deg);      
                top: -100%;      
            }  
    
            &:after{ //bottom
                transform-origin: top;
                transform: rotateX(-90deg);
                top: 100%; 
            }      
            
            .ortho__sides{     
                &.back{ 
                    width: 100%; height: 100%; background-color: #ddd; position: absolute; transform-style: preserve-3d; transform: translateZ(-200px); //match parent width
                   
                    &:before{transform: rotateY(-90deg) translateX(200px);} //left   
                    &:after{transform: rotateY(90deg) translateX(-200px);}//right
                }               
                             
                &:before{ //left
                    transform-origin: right;
                    transform: rotateY(-90deg);
                    left: -100%;
                }
                
                &:after{ //right
                    transform-origin: left;          
                    transform: rotateY(90deg);
                    right: -100%; 
                }
            }
    
            .ortho__shadow{                            
                transform: rotateX(90deg);    
                bottom:-1px;
                transform-origin: bottom;         
                background: #c7c7c7;
                box-shadow: 0px 0px 351px #000000a6;    
                
                //mess with position for direction shadow    
                &.right{            
                    background: #d7d7d7;      
                    left:100%;
                    opacity: 0.55;
                }

                &.left{            
                    background: #d7d7d7;      
                    left:-100%;
                    opacity: 0.55;
                }

                &.front{            
                    background: #d7d7d7;      
                    transform: translateZ(200px) rotateX(90deg);
                    opacity: 0.55;
                }
            }            

            &.rounded{
                border-radius: 7px;                
                //add to 100% to get even gradient either side (5, 95)
                background: linear-gradient(90deg, #ddd 0%, #f1f1f1 5%, #f1f1f1 95%, #ddd 100%);  
                                        
                &:after, &:before, .ortho__sides, .ortho__sides:after, .ortho__sides:before{
                    border-radius: inherit; 
                }   
            }

            //overwrites for new shapes
            &.thin{              
                height: 350px;                 
                
                &:before{ //top
                    height: 40px; 
                    top: -40px;                     
                }  
        
                &:after{ //bottom          
                    height: 40px; 
                } 

                .ortho__sides{  
                    //&.back{transform: translateZ(-40px);}  

                    &:before{
                        width: 40px;
                        left: -40px;
                    }  

                    &:after{
                        width: 40px;    
                        right: -40px;   
                    }                                       
                }  
            } 

            &.plus, &.plus .ortho__block{ //itself and inner ortho__block
                height: 40px;               
              
                &:before{ //top
                    height: 40px; 
                    top: -40px;                     
                }  
        
                &:after{ //bottom          
                    height: 40px; 
                } 
    
                .ortho__sides{  
                    //&.back{transform: translateZ(-40px);}  
    
                    &:before{
                        width: 40px;
                        left: -40px;
                    }  
    
                    &:after{
                        width: 40px;    
                        right: -40px;   
                    }                                       
                }  

                .ortho__block{transform:rotateZ(90deg);}
            }   
            
            &.plus{&.cross{transform: rotateY(-18deg) rotateZ(45deg);}}          

            &.tick, &.tick .ortho__block{ //itself and inner ortho__block
                height: 40px;               
                
                &:before{ //top
                    height: 40px; 
                    top: -40px;                     
                }  
        
                &:after{ //bottom          
                    height: 40px; 
                } 
    
                .ortho__sides{  
                    //&.back{transform: translateZ(-40px);}  
    
                    &:before{
                        width: 40px;
                        left: -40px;
                    }  
    
                    &:after{
                        width: 40px;    
                        right: -40px;   
                    }                                       
                }  

                .ortho__block{   
                    transform-origin: right;
                    transform: rotateZ(90deg) translateY(30px) translateX(-20px); 
                    width: 25%;                   
                }
            }

            &.tick{transform: rotateY(-18deg) rotateZ(-45deg);}
        }

        .ortho__sphere{    
            transform: rotateY(0);            
            background: #ddd;
            border-radius: 50%;
            height: 120px;
            width: 120px;         
            background: radial-gradient(circle at 40px 40px, #fff, #ddd); //light/shadow source direction

            &:after{
                content:"";
                position: absolute;
                width: 100%;
                height: 100%;
                background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
                transform: rotateX(90deg) translateZ(-60px);
                z-index: -1;
            }
        }   

        .ortho__cylinder{                 
            border-radius: 50%;
            height: 120px;
            width: 120px;         
            background-color: #f1f1f1; 
            
            &:after, &:before, &.flat .ortho__shadow, .ortho__shadow:after, .ortho__shadow:before{
                content:"";
                height: 100%;
                width: 100%;
                position: absolute;
                border-radius: inherit;
                background-color: #ddd; 
            }

            &:before{transform: translateZ(-10px);} //first                     
            &:after{transform: translateZ(-40px);} //back depth
            
            .ortho__shadow{ //middle sections if needed
                border-radius: inherit;                
                &:first-child{                
                    &:before{transform: translateZ(-20px);} //first                     
                    &:after{transform: translateZ(-30px);} //back depth
                }                               
            }

            &.flat{
                transform: rotateY(-18deg) rotateX(90deg);

                &:before{transform: translateZ(-1px);} //first                     
                &:after{transform: translateZ(-26px);} //bottom depth

                .ortho__shadow{ //middle sections if needed 
                    transform-style: preserve-3d;  

                    //all shadows(from its Z'd pos)
                    &:before{transform: translateZ(-1px);}                    
                    &:after{transform: translateZ(-2px);} 

                    //push down each shadow
                    &:first-child {transform: translateZ(-2px);}  
                    &:nth-child(2){transform: translateZ(-5px);} 
                    &:nth-child(3){transform: translateZ(-8px);} 
                    &:nth-child(4){transform: translateZ(-11px);} 
                    &:nth-child(5){transform: translateZ(-14px);} 
                    &:nth-child(6){transform: translateZ(-17px);} 
                    &:nth-child(7){transform: translateZ(-20px);} 
                    &:nth-child(8){transform: translateZ(-23px);} 
                }
            }
        }

        
    }  
}
