.sideprojects{
    height: 60vh;
    display: flex;
    justify-content: space-between;
    padding-top: 80px;

    .sideprojects__carousel{
        position: relative;
        height: 100%;
        background-color: #eee;
        width: 900px;

        .swiper-container{height:100%;
            .swiper-button-next, .swiper-button-prev{display: none}
        }

        .sideproject__name{position: absolute;
            z-index: 2;
            background-color: #fff;
            padding: 40px;
            height: 130px;
            bottom: 150px;
            right: 90%;
            font-size: 3.5rem;
            white-space: nowrap;
            //box-shadow: -13px 11px 30px rgba(0, 0, 0, 0.15);

            span{display: inline-block;
                &.animate{animation-name: changeText; animation-duration: .4s;}
                &.animateBack{animation-name: changeTextBack; animation-duration: .4s;}
            }            

            @keyframes changeText {
                0% {transform: translateX(0); opacity: 1;}
                50% {transform: translateX(-20px); opacity: 0;}
                51% {transform: translateX(20px); opacity: 0;}              
            }
            @keyframes changeTextBack {
                0% {transform: translateX(0); opacity: 1;}
                50% {transform: translateX(15px); opacity: 0;}
                51% {transform: translateX(-15px); opacity: 0;}              
            }
        }

        .sideprojects__arrow{
            cursor: pointer;  
            position: absolute;
            z-index: 3;
           
            background: white;          
            height: 90px;
            width: 90px;          
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.2s;
            box-shadow: -13px 11px 30px rgba(0, 0, 0, 0.15);
            .MuiSvgIcon-root{
                font-size: 6rem;
                color: #1e1e1e;
            }
                   
            &.back{left:34%; bottom: -10px; .MuiSvgIcon-root{transform: rotate(180deg);}}
            &:nth-child(1){left: 50%; bottom: -2px;}

            &.disabled{background:#ededed;
                .MuiSvgIcon-root{color: #cecece;}
            }
        }

        a{&.button{position: absolute; right: 55px; bottom: -36px; z-index: 3;}
        }

        .dots{position: absolute; bottom:-60px; left: -5px;
            img{margin: 5px;}
        }
    }    
}