@import "../../Shapes/_block.scss";
@import "../../Shapes/_cylinder.scss";

.graph{
    width: 52vmin; height: 31vmin;
    .ortho__block{
        @include block(52, 31, 2);
    } 

    [class*="bar"]{
        transform: translateZ(12px) rotateZ(180deg);
    }

    .bar__one{      
        @include block(2.8, 9, 1.2, red);   
        top:62%; left:10%;
        
    }

    .bar__two{  
        @include block(2.8, 15, 1.2, blue);      
        top:43%; left:25%;
    }

    .bar__three{  
        @include block(2.8, 22, 1.2, green);      
        top:21%; left:40%;
    }

    .bar__four{  
        @include block(2.8, 12, 1.2, orange);      
        top:53%; left:55%;
    }

    .bar__five{  
        @include block(2.8, 18, 1.2,purple);      
        top:34%; left:70%;
    }

    .ortho__cylinder{
        @include cylinder(3.3, 0.5, 1,orange);      
        top:8%; left:85%;
    }
}
